.DS_Store
.classpath
.project
inputfile.txt
._*
Thumbs.db
/bin
/dist
/doc
/src/input2.txt
/src/inputfile.txt
/src/outputfile.txt
/src/FlightMap.class
/src/TestFlightMap.class
/src/SearchMap.class
/src/TestSearchMap.class
/src/.classpath
/src/.project
/src/.gitignore
/src/outputfile